{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Редактирование профиля
{% endblock %}

{% block content %}
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Редактирование профиля
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'blog:profile' user.username %}" class="btn btn-secondary">Отменить</a>
                    {% bootstrap_button button_type="submit" content="Сохранить изменения" button_class="btn btn-primary" %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
